<template name="myAnalysis">
  <div class="default-inner-container">
    <p class="page-title">나의 분석결과</p>
    <div class="analysis-container">
      <table>
        <tr class="analysis-title">
          <th>분석 URL</th>
          <th>분석 일자</th>
          <th>CSV</th>
          <th>PDF</th>
          <th>JSON</th>
          <th>상세보기</th>
          <th>삭제</th>
          <th></th>
        </tr>
      </table>
      <div class="analysis-item-container">
        <table>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
          <tr class="analysis-item">
            <td><a href="#">https://koreatech.ac.kr</a></td>
            <td>2017. 07. 23</td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
            <td><button alt="" ></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
