<template name="findPw">
	<div>
		<p class="page-title find-pass-text">비밀번호 찾기</p>
	</div>

	<img class="img" src="/images/img_fidpw@2x.png" alt="">
	<div class="wrap">
		<label for="find_user_id">아이디</label>
		<input type="text" id="find_user_id" placeholder="dkdlel">

		<label for="find_user_name">이름</label>
		<input type="text" id="find_user_name" placeholder="김철수">

		<label for="find_user_email">이메일</label>
		<input type="email" id="find_user_email" placeholder="email@gmail.com">

		<button type="button" class="default-btn find-pass-btn">비밀번호 찾기</button>
	</div>
</template>

