<template name="findId">
	<div>
		<p class="page-title find-id-text">아이디 찾기</p>
	</div>

	<img class="img" src="/images/img_fidpw@2x.png" alt="">
	<div class="wrap">
		<label for="user_name">이름</label>
		<input type="text" id="user_name_1" placeholder="김철수">
		<label for="user_birthDay">생년월일</label>
		<input type="text" id="user_birthDay" placeholder="19XX.XX.XX" class="datepicker" style="border-radius:0">
		<button type="button" class="default-btn find-id-btn">아이디 찾기</button>
	</div>
	<script>
		$('document').ready(function(){
			$('.datepicker').datepicker({
			format: 'yyyy-mm-dd',
			});
		})
		
	</script>
</template>
