<template name="login">
	<div class="default-inner-container-960">
		<p class="page-title-40">로그인</p>
		<img class="login-img" src="/images/img_login@2x.png" alt="로그인 이미지">
		<div class="box">
			<input type="text" class="user_name" placeholder="아이디를 입력해주세요.">
			<input type="password" class="user_pass" placeholder="비밀번호를 입력해주세요">

			<div class="active-text">
				<a href="/findId" class="id-find">아이디 찾기</a> <div class="slice margin-lr-12"></div>
				<a href="/findPw" class="pass-find">비밀번호 찾기</a> <div class="slice margin-lr-12"></div>
				<a href="/register" class="register">회원가입</a>
			</div>

			<button type="button" class="default-btn login-btn">로그인</button>
		</div>
	</div>
	<script>
		
	</script>
</template>
