<template name="index">
  <div class="">
    <div class="banner-container">
        <img src="/images/main_bn1.jpg" alt="">
        <div class="search-container">
          <p class="search-title"><b>Modern Browser를 위한 가장 간편한 성능 모니터링</b></p>
          <p class="search-desc">사용자들에게 더 나은 웹 경험을 제공하기 위해 사이트를 모니터링 하세요. <br />Werfomace.io는 웹 페이지의 사용자에 가장 직접적인 영향을 미치는 속도를 분석하고, 개선점을 제공합니다.</p>
          <div class="search-inner-container">
            <input type="text" name="" value="" placeholder="www.myaddress.com" class="search-url">
            <div class="search-btn">
              <p>사이트 분석하기</p>
              <img src="/images/ico_arrow@2x.png" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="index-block">
    <div class="index-inner-block">
      <div class="block-desc pull-left">
        <p><b>왜 <span class="color-blue">웹 페이지의 성능</span>을 분석해야 할까요?</b></p>
        <p>Google의 연구에 따르면 웹 페이지의 로딩 속도가 3초가 넘어가기 시작하면, 사용자의 50%가 웹 페이지에서 이탈합니다. 웹 사이트 성능을 개선하는 것 만으로도 <b>사용자의 방문 횟수</b>와 <b>회원 전환 비율</b>을 향상시킬 수 있습니다.</p>
      </div>
      <div class="block-img pull-right">
        <img src="/images/img_main1@2x.png" alt="" class="index-img-1">
      </div>
    </div>
  </div>
  <div class="index-block bg-grey">
    <div class="index-inner-block">
      <div class="block-img pull-left">
        <img src="/images/img_main2@2x.png" alt="">
      </div>
      <div class="block-desc pull-right">
        <p><b><span class="color-blue">Werformance.io</span>는 어떻게 동작하나요?</b></p>
        <p>Google의 <b>Lighthouse</b>가 탑재된 <b>Werformance.io</b>는 웹 사이트의 성능을 면밀히 분석하고 Performance, PWA, Accessibility, Best Practice, SEO 총 5개의 항목으로 분류하여 사용자에게 제공합니다. <b>Werformance.io</b>는 이 분석 결과를 바탕으로 사용자에게 웹 페이지 성능 개선을 위한 개선안을 제시합니다.</p>
      </div>
    </div>
  </div>
</template>
