<template name="mainFooter">
  <div class="footer">
    <div class="sm-footer">
      <div class="footer-images-container pull-left">
          <img src="/images/logo_w@2x.png" alt="" class="footer-img">
      </div>
      <div class="footer-desc pull-right">
        <p>회사명 : 마이모(MIMO) | 사업자등록번호 : 312-32-40191 | 대표자 : 김민호</p>
        <p>주소 : 충남 천안시 서북구 오성9길 15, 202호 | Tel : 041-557-1616 | Email : ryokowantu@naver.com</p>
        <p><b>Copyright(C) MIMO Corp.,LTD. All Rights Reserved</b></p>
      </div>
    </div>
  </div>
</template>
